body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.ui-button {
	min-width: 120px;
	padding: 5px;
	margin: 5px
}

#tabs {
	width:50%;
	margin-left: auto;
  	margin-right: auto;
}


.ui-checkboxradio-label {
	text-align: left;
}
.ui-checkboxradio-icon {
	margin-left: 5px;
	margin-right: 5px;
}